{% extends 'base.html' %}

{% block title %}{{category.name}}{% endblock title %}{{category.name}}

{% block content %}
<h2>{{category.name}}</h2>
{% if category.posts_set.all %}
    <ul>
        {% for post in category.posts_set.all %}
            <li><a href="{% url 'blog:post' post.slug %}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% if subcategories %}
<ul>
    {% for subcategory in subcategories %}
        {{ subcategory }}
        {% if subcategory.posts_set.all %}
        <ul>
            {% for sub_post in subcategory.posts_set.all %}
                <li><a href="{% url 'blog:post' sub_post.slug %}">{{sub_post.title}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
<a href="{% url 'blog:index' %}">На главную</a>
{% endblock content %}
