{% extends 'base.html' %}
{% load static %}
{% load menu_items %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock css %}

{% block title %}Главная{% endblock title %}

{% block menus %}
{% draw_menu 'main' %}
{% draw_menu 'Computers' %}
{% draw_menu 'Природа' %}
{% endblock menus %}

{% block content %}

<ul>
    {% for category in categories %}
        <li><a href="{% url 'blog:categories' category.id %}">{{category.name}}</a></li>
    {% endfor %}
</ul>

{% endblock content %}
{% block js %}
    <script src="{% static 'js/menu.js' %}"></script>
{% endblock js %}
