 ul, #menus {
    list-style-type: none;
  }

  .caret {
    cursor: pointer;
    user-select: none;
  }

  .caret::before {
    content: "\2022";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }

  .nested {
    display: none;
  }

  ul.active {
    display: block;
  }

  a.active {
    font-weight: bold;
  }
